.page-content {
    margin-top: 50px;

    .search {
        h1 {
            margin: 5px 0 15px;
            font-size: 24px;
        }

        &>div {
            padding: 10px 0;
            background-color: white;
            border-radius: 3px;
            box-shadow: 0px 1px 3px 0px #ccc;

            h5 {
                padding: 5px 10px 15px;
                font-size: 16px;
            }

            .status {
                margin-top: 40px;
            }
        }

    }

    .table-list {
        margin-top: 20px;
        background-color: white;
        border-radius: 3px;
        box-shadow: 0px 1px 3px 0px #ccc;

        .pager {
            text-align: center;
        }
    }
}