.page-content {
    margin-top: 70px;

    .search {
        h1 {
            margin: 5px 0 15px;
            font-size: 24px;
        }

        &>div {
            background-color: white;
            padding: 15px 20px;

            h5 {
                padding-bottom: 15px;
                font-size: 16px;
            }

            .status {
                margin-top: 40px;
            }
        }

    }

    .table-list {
        margin-top: 20px;
        background-color: white;

        .pager {
            text-align: center;
        }
    }
}